/* Main widgets */
/* Inspitation: http://themeforest.net/item/chain-responsive-bootstrap-3-admin-template/full_screen_preview/8539704; */
.dashboard-badge{
	padding: 10px;
}

.dashboard-badge .badge-label{
	padding: 12px 0 0 19px;
	font-size: 24px;
}

.dashboard-badge .badge-icon{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 15px;
}

.dashboard-badge .badge-icon .fa {
	color:white;
	font-size: 36px;
	padding: 12px 0 0 19px;
}

.subscribers-badge{
	background: #5cb85c;
	color: white;
}

