{% extends '../../../../app/views/base.html' %}

{% block js %}
  <script type="text/javascript">
  $(window).load(function(){
    setTimeout(function(){$('.navbar').css('visibility', '')}, 1000);
  });</script>
{% endblock %}

{% block basecontent %}
<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kane-navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/images/js-logo.png" alt=""></a>
    </div>
    <div class="navbar-collapse collapse" id="kane-navigation">
      <ul class="nav navbar-nav navbar-right main-navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/#services">Eventos</a></li>
        <li><a href="/blog">Artículos</a></li>
        <li><a href="/#contact">Contáctanos</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="app-brief blog">
  <div class="container">
    <div class="col-md-8 col-md-push-2 left-align">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="contact-box">
      <a id="contact" class="btn contact-button expand-form"><i class="icon_mail_alt"></i></a>
      <div class="row expanded-contact-form">
        <div class="form-header">
          <h3>Contáctanos</h3>
          <p>¿Deseas crear otro evento, patrocinar la comunidad o platicar con los organizadores?</p>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <form class="contact-form" role="form" method="POST" action="/contacto">
            <div class="col-md-6">
              <input class="form-control input-box" id="name" type="text" name="name" placeholder="Nombre">
              <p class="error">Por favor agrega tu nombre.</p>
            </div>
            <div class="col-md-6">
              <input class="form-control input-box" id="email" name="email" placeholder="Email">
              <p class="error">Por favor agrega tu email.</p>
              <p class="invalid-email" style="display:none">Por favor un email valido.</p>
            </div>
            <div class="col-md-12">
              <input class="form-control input-box" id="subject" type="text" name="subject" placeholder="Título">
              <p class="error">Por favor agrega tu título a tu mensaje.</p>
            </div>
            <div class="col-md-12">
              <textarea class="form-control textarea-box" id="message" name="message" rows="8" placeholder="Mensaje"></textarea>
              <p class="error">Agrega el mensaje que quieres mandar.</p>
            </div>
            <div class="col-md-12">
              <button class="btn btn-primary standard-button2 ladda-button full-width disable" type="submit" id="submit" name="submit" data-style="expand-left">Enviar mensaje</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <ul class="social-icons">
      <li><a href="//facebook.com/javascriptmx"><i class="social_facebook_square"></i></a></li>
      <li><a href="//twitter.com/javascriptmx"><i class="social_twitter_square"></i></a></li>
    </ul>
    <p class="copyright">
      ©2014 JavascriptMX, todos los derechos reservados.
    </p>

  </div>
</footer>
{% endblock %}
