<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Responsive Bootstrap App Landing Page Template">
	<meta name="keywords" content="Kane, Bootstrap, Landing page, Template, App, Mobile, Android, iOS">
	<meta name="author" content="Mizanur Rahman">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>JavascriptMX - Tu página de noticias de javascript en México</title>

	<link rel="icon" href="/images/favicon.png">
	<link rel="apple-touch-icon" href="/images/favicon.png">

	<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bower/bootstrapValidator/dist/css/bootstrapValidator.min.css">

	<link rel="stylesheet" href="/assets/elegant-icons/style.css">
	<link rel="stylesheet" href="/assets/app-icons/styles.css">
	<!--[if lte IE 7]><script src="lte-ie7.js"></script><![endif]-->

	<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/css/animate.min.css">

	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/colors/yellow.css">

	<link rel="stylesheet" href="/css/responsive.css">
	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
	<script src="/bower/jquery/dist/jquery.min.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-53721608-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body>
	{% block basecontent %}{% endblock %}

	<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/bower/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>
	<script src="/bower/ajaxchimp/jquery.ajaxchimp.min.js"></script>
	<script src="/bower/ajaxchimp/jquery.ajaxchimp.langs.min.js"></script>
	<script src="/js/custom.js"></script>
	{% block js %}{% endblock %}
</body>
</html>
