<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Responsive Bootstrap App Landing Page Template">
	<meta name="keywords" content="Kane, Bootstrap, Landing page, Template, App, Mobile, Android, iOS">
	<meta name="author" content="Mizanur Rahman">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>JSMexico - Tu pagina de noticias de javascript en Mexico</title>

	<link rel="icon" href="/images/favicon.png">
	<link rel="apple-touch-icon" href="/images/favicon.png">

	<link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bower/bootstrapValidator/dist/css/bootstrapValidator.min.css">

	<link rel="stylesheet" href="/assets/elegant-icons/style.css">
	<link rel="stylesheet" href="/assets/app-icons/styles.css">
	<!--[if lte IE 7]><script src="lte-ie7.js"></script><![endif]-->

	<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/animate.min.css">

	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/colors/yellow.css">

	<link rel="stylesheet" href="css/responsive.css">
	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
	<![endif]-->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
<header class="header" data-stellar-background-ratio="0.5" id="home">
<div class="color-overlay">
	<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" style="visibility:hidden">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kane-navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="images/js-logo.png" alt=""></a>
			</div>
			<div class="navbar-collapse collapse" id="kane-navigation">
				<ul class="nav navbar-nav navbar-right main-navigation">
					<li><a href="#home">Home</a></li>
					<li><a href="#services">Eventos</a></li>
					<li><a href="#contact">Contactanos</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="only-logo">
			<div class="navbar">
				<div class="navbar-header">
					<img src="images/js-logo.png" alt="" width="200px">
				</div>
			</div>
		</div>
		<div class="row download">
			<div class="col-md-12">
				<div class="intro-section">
					<h1 class="intro">Bienvenido a la comunidad de desarrolladores de Javascript de México.</h1>
					<h5>Subscribete hoy y recibe las noticias más importantes de la semana</h5>
					<form class="subscription-form mailchimp form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" role="form">
						<h4 class="subscription-success"></h4>
						<h4 class="subscription-error"></h4>
						<input type="email" name="email" id="subscriber-email" placeholder="tu@email.com" class="form-control input-box">
						<button type="submit" id="subscribe-button" class="btn btn-default standard-button">Suscribete</button>
					</form>					
				</div>				
			</div>
		</div>
	</div>
</div>
</header>
<section class="services" id="services">
	<div class="container">
		<div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
			<h2 class="dark-text">Eventos de la comunidad</h2>
			<div class="colored-line">
			</div>
			<div class="section-description">
				Asiste, aprende, programa, compartarte y diviertete. No es tan complicado.
			</div>
			<div class="colored-line">
			</div>
		</div>		
		<div class="row">
			<a class="event-link" href="http://chelajs.com/" target="_blank">
				<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
					<div class="service-icon">
						<img src="images/chela-js-logo.png" alt="" width="100px">
					</div>
					<h3>ChelaJs</h3>
					<h6>Proximo evento: 3 de Septiembre</h6>
					<p>
						Un grupo developers se reúnen a tomar javascript con el pretexto de hablar del mejor lenguaje hoy en día: cerveza.
					</p>
				</div>
			</a>
			<a class="event-link" href="http://nodebots.mx/" target="_blank">
				<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
					<div class="service-icon">
						<img src="images/nodebotsmx-logo.png" alt="" width="100px">
					</div>
					<h3>NodeBotsMx</h3>
					<h6>Proximo evento: 30 de Agosto</h6>
					<p>
						Si tienes algo de experiencia en JavaScript, puedes usar tus poderes para controlar máquinas.
					</p>
				</div>
			</a>
			<a class="event-link" href="http://angularjsmexico.com/" target="_blank">
				<div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
					<div class="service-icon">
						<img src="images/logo-angular-mx.png" alt="" width="100px">
					</div>
					<h3>AngularJS México</h3>
					<h6>Proximo evento: 30 de Agosto</h6>
					<p>
						Nos reunirémos con el pretexto de compartir y aprender más de AngularJS.
					</p>
				</div>
			</a>
		</div>		
	</div>
</section>
<footer>
	<div class="container">
		<div class="contact-box">
			<a id="contact" class="btn contact-button expand-form"><i class="icon_mail_alt"></i></a>
			<div class="row expanded-contact-form">
				<div class="form-header">
					<h3>Contactanos</h3>
					<p>Deseas crear otro evento, patrocinar la comunidad o platicar con los organizadores.</p>
				</div>
				<div class="col-md-8 col-md-offset-2">
					<form class="contact-form" role="form" method="POST" action="/contact">
						<h4 class="success">
							<i class="icon_check"></i> Your message has been sent successfully.
						</h4>
						<h4 class="error">
							<i class="icon_error-circle_alt"></i> E-mail must be valid and message must be longer than 1 character.
						</h4>
						<div class="col-md-6">
							<input class="form-control input-box" id="name" type="text" name="name" placeholder="Your Name">
						</div>
						<div class="col-md-6">
							<input class="form-control input-box" id="email" type="email" name="email" placeholder="Your Email">
						</div>
						<div class="col-md-12">
							<input class="form-control input-box" id="subject" type="text" name="subject" placeholder="Subject">
							<textarea class="form-control textarea-box" id="message" name="message" rows="8" placeholder="Message"></textarea>
						</div>
						<div class="col-md-12">
							<button class="btn btn-primary standard-button2 ladda-button full-width" type="submit" id="submit" name="submit" data-style="expand-left">Enviar mensaje</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<ul class="social-icons">
			<li><a href=""><i class="social_facebook_square"></i></a></li>
			<li><a href=""><i class="social_twitter_square"></i></a></li>
			<li><a href=""><i class="social_pinterest_square"></i></a></li>
			<li><a href=""><i class="social_googleplus_square"></i></a></li>
			<li><a href=""><i class="social_instagram_square"></i></a></li>
			<li><a href=""><i class="social_dribbble_square"></i></a></li>
			<li><a href=""><i class="social_flickr_square"></i></a></li>
		</ul>
		<p class="copyright">
			©2014 JSMexico, Beerware
		</p>

	</div>
</footer>
<script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>
<script src="/bower/ajaxchimp/jquery.ajaxchimp.min.js"></script>
<script src="/bower/ajaxchimp/jquery.ajaxchimp.langs.min.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/jquery.localScroll.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/nivo-lightbox.min.js"></script>
<script src="/js/simple-expand.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/retina-1.1.0.min.js"></script>
<script src="/js/jquery.nav.js"></script>
<script src="/js/matchMedia.js"></script>
<script src="/js/custom.js"></script>
<script type="text/javascript">
$(window).load(function(){
	setTimeout(function(){$('.navbar').css('visibility', '')}, 1000);
});</script>
</body>
</html>
