{% extends './layout.html' %}

{% block content %}
<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kane-navigation">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img src="images/js-logo.png" alt=""></a>
		</div>
		<div class="navbar-collapse collapse" id="kane-navigation">
			<ul class="nav navbar-nav navbar-right main-navigation">
				<li><a href="/">Home</a></li>
				<li><a href="/#services">Eventos</a></li>
				<li><a href="/#contact">Contáctanos</a></li>
			</ul>
		</div>
	</div>
</div>
{% for newsletter in newsletters %}
<section class="app-brief newsletter">
	<div class="container">
		<div class="row">
			<div class="col-md-7 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
				<h2 class="">{{ newsletter.title }}</h2>
				<div class="colored-line-left">
				</div>
				{{ newsletter.content|safe }}
				<a href="{{newsletter.url}}" class="btn btn-default btn-lg standard-button">Ver Newsletter</a>
			</div>
			<div class="col-md-5 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
			</div>
		</div>	
	</div>
</section>
{% if loop.first %}
<div class="row subscription-band download background-yellow">
	<div class="col-md-12">
		<div class="intro-section">
			<h5>Subscríbete a nuestro boletín y recibe las noticias más importantes cada semana</h5>
			<form class="subscription-form mailchimp form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" role="form">
				<h4 class="subscription-success"></h4>
				<h4 class="subscription-error"></h4>
				<input type="email" name="email" id="subscriber-email" placeholder="tu@email.com" class="form-control input-box">
				<button type="submit" id="subscribe-button" class="btn btn-default standard-button">Suscríbete</button>
				<p class="error" style="display:none">Email invalido</p>
			</form>					
		</div>				
	</div>
</div>
{% endif %}
{% endfor %}
{% endblock %}